*{
    margin:0;
    padding: 0;
}
body>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
}

#titulo{
    font-family:sans-serif;
    color: #0b4961;
    
}

#subtitulo{
    font-family:sans-serif;
    color: #0b4961;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

#check{
    display: inline-block;
}

.box{
    display: flex;
    width: 30em;
    justify-content:space-between;
}

fieldset{
    border: 0;
    display: flex;
    margin-left:0.5em;
}

html{
    margin: 1em auto; /*top right bottom left*/
}

body{
    background-color: #b3e0d7;
    font-family:sans-serif;
    font-size: 1em;
    color: #235a35;
    
   
    
    /*margin-left: 36%;
    
    margin-top: 2%;*/
    
    justify-content:center;
}

input, select, textarea, button{
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1em;
    color:  #235a35;
}

.grupo{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo{
    margin-bottom: 1em;
    margin-left:0.5em;
}

.campo label{
    margin-bottom: 0.2em;
    color:  #235a35;
    display: block;
    
}

fildset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #429d89;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #dcf5f0;
}



.botao{
    font-size: 1.2em;
    background: #0b4961;
    border:0;
    margin-bottom: 1em;
    color: #ffffff;
    padding:0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px  rgba(0,0,0,0.5);
     
    cursor: pointer;
    margin-top: 1%;
    /*margin-left: 11%;
    margin-bottom: 80%;*/
    align-items: center;
    justify-content:center;
    
}

.botao:hover{
    background: #6da8a3;
    box-shadow:  inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;

}

.espaco0{
    margin-left: 0;
}

.flex{
    display: flex;
}

#experiencia{
    width: 24em;
}



@media(max-width:550px){
    form>.grupo{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }

    form>.campo>label>strong{
        display: flex;
        text-align: center;
    }

    form>.campo>article{
        display: flex;
       justify-content: center;
    }

    #check{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #check>label{
        text-align: center;
    }

    #check>.box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 80vw;
    }

    #check>.box>article{
        width: 30vw;
        margin: 0;
       
    }

    #experiencia{
        
        width: 15em;
    }

    .alinhar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:307px){
    #check>.box>article{
        width: 35vw;
    }
}

